#grid {
    display: grid;
    
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 500px;
    height: 500px;
}

#item{
    background-color: aqua;
    
    grid-area: 1 / 2 / 6 / 3;
}
#item2{
    background-color: aqua;
    grid-area: 2/1/5/4
}